<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='create_event.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="top-bar">
        <div>
            <h1>Sasquatch Websighting</h1>
        </div>
        <div class="right-bar">
            <div>
            <h2>{{user.first_name}} {{user.last_name}}
            </div>
            <div>
            <a href='/dashboard'>Dashboard</a>
            </div>
            <div>
            <a href="/logout">Logout</a> </h2>
            </div>
        </div>
    </div>
    {% with messages= get_flashed_messages(category_filter=['event']) %}
        {%if messages%}
            {% for message in messages %}
                    <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="form_1">
    <form action="/create" method="post">
    <div class="left_form">
        <label for="name">Location:</label>
        <input type="text" name="location">
        <label for="what_happened">What happened:</label>
        <textarea name="what_happened" type='text' id="" cols="30" rows="10"></textarea>
        <input type="submit" value="Report">
    </div>
    <div class="right_form">
        <div class="right_form1">
        <label for="">Date of Sighting</label>
        <input type="date" name="date_of_sighting">
        </div>
        <div class="right_form2">
        <label for=""># of Sasquatches: </label>
        <input type="number" min=1 max=100 name="num_of_sas">
        </div>
        <input type="hidden" name="user_id" value="{{session['user_id']}}">
    </div>  
    </form>
    </div>  
</body>
</html>